body {
  background-color: #fff;
  padding: 25px 0px 25px 0px;
  font-weight: 200;
}
a {
  text-decoration: none !important;
  color: #008080 !important;
}
a:hover {
  text-decoration: none !important;
  color: #008080 !important;
}
h5 {
  font-weight: bold !important;
}
.box {
  min-height: calc(100vh);
  background-color: azure;
  border-radius: 4px;
  text-align: left;
  padding: 10px 5px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(6, 20, 38, 0.2), -2px -2px 8px rgba(6, 20, 38, 0.2), 2px -2px 8px rgba(6, 20, 38, 0.2),
    -2px 2px 8px rgba(6, 20, 38, 0.2);
}
.avatarPic {
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 145px;
  border-radius: 40% 40% 5% 40%;
}
.applicantContactDetails {
  padding: 15px 0px 15px 10px;
}
.detailBlock {
  padding-bottom: 7px;
}
.detailBlock > span {
  padding-left: 2px;
  font-size: 12px;
  font-weight: 300;
  vertical-align: text-top;
  color: #008080;
  word-break: break-word;
}
i {
  color: #008080;
}
.detailSkills {
  color: #008080;
  padding-top: 15px;
}
.skillBox {
  padding: 3px 5px;
  background-color: #008080;
  color: #fff;
  border-radius: 3px;
  vertical-align: -webkit-baseline-middle;
}
.padd {
  padding: 5px 10px 0px 10px;
}
.detailLanguage {
  padding: 5px 10px;
}
.language {
  font-size: 18px;
}
.headTitle {
  min-height: 140px;
  background-color: #008080;
  color: #fff;
  padding: 10px 40px 10px 25px;
}
.applicantName {
  font-size: 24px;
}
.applicantDesignation {
  font-size: 16px;
}
.partionLine {
  margin: 0 !important;
  border-top: 1px solid rgba(244, 249, 251, 0.85) !important;
}
.applicantSummary {
  font-size: 14px;
}
.detailBody {
  color: #008080;
  padding: 15px 0px;
}
.titleHead {
  font-size: 18px;
  padding-bottom: 15px;
}
.detailPartionLine {
  margin: 0 !important;
  border-top: 1px solid black !important;
  width: 90%;
}
.detailOrganisation {
  font-weight: 300;
}
.detailDuration {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}
.detailDurationLocation {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  float: right;
  vertical-align: text-bottom;
  padding-right: 10px;
}
.padBottom {
  padding-bottom: 15px;
}
.smallShowScreen {
  display: none;
}
@media only screen and (max-width: 767px) {
  .smallShowScreen {
    margin-top: 15px;
    display: block;
  }
  .smallHideScreen {
    display: none;
  }
  .padBottom {
    padding-left: 5px;
  }
}
